body{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

.mp-page{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mp-shot{
  position: absolute;
  top: -150%;
  left: -100%;
  width: 300%;
  z-index:1;
}

.mp-top-left{
  position: absolute;
  width:200px;
  top:50;
  left:25%;
}

.mp-bottom-left{
  position: absolute;
  width:200px;
  bottom:20%;
  left:25%;
}

.mp-top-right{
  position: absolute;
  width:200px;
  top:0;
  right:25%;
}

.mp-bottom-right{
  position: absolute;
 width:200px;
  bottom:20%;
  right:25%;
}
